{% extends 'decrees/decrees/decrees_base.html' %}


{% block content %}


{% load my_tags %}


<div class="col col-8">
    
    
    <!-- ГЛАВНАЯ ФОРМА  -->
    <h4>
    </h4>
    <form action="GET">
        <input type="text" name="date" value="2021-04-27" class="form-control" placeholder="дата" id="id_date">
        <input type="text" name="date" value="2021-04-27" class="form-control" placeholder="дата" id="id_date">
        
        <script>
            $(function () {
              $("input[name='date']").datepicker({
                format:'yyyy-mm-dd',
              });
            });
          </script>

        <input id="input-tags" autocomplete="off" placeholder="Выбрать имя" value="{{ user_name_query}}" name="name-search" >
  
    <select id="select-beast-empty" data-placeholder="Выбрать регион"  autocomplete="on" name="region-search">
        
        <option value=""> {{ region_query|default:"Выбрать регион" }} </option>

        {% for reg in regions %}
        <option value="{{ reg }}">{{ reg }}</option>
        {% endfor %}
    </select>
    
<div class="form-check">
        <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault1" 
        value="resign" {% if action_query == "resign" %} checked {% endif %}>
        <label class="form-check-label" for="flexRadioDefault1">
          Отставка
        </label>
      </div>

 
      <div class="form-check"> 
        <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault2"
         value="appoint" {% if action_query == "appoint" %} checked  {% endif %}>
        <label class="form-check-label" for="flexRadioDefault2">
          Назначение
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="action_option" id="flexRadioDefault3" value="">
        <label class="form-check-label" for="flexRadioDefault3">
          Всё
        </label>
      </div>


      <button type="submit" class="btn btn-primary">Искать</button>

</form>
<!-- {{urlencode}} -->
<h1>    



</h1>


<div class="table_wrapper">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Событие</th>
        <th scope="col">Должность</th>
        <th scope="col">Регион</th>
        <th scope="col">Дата</th>
        <th scope="col">Действия</th>
        
    </tr>
    </thead>
    <tbody>

    {% for event in events %}
    <tr>
        <th scope="row">1</th>
        <td>{{event.person.name}}</td>
        <td>{{event.action}}</td>
        <td>{{event.position|truncatechars:80}}</td>
        <td>{{event.region}}</td>
        <td>{{event.date}}</td>
        <td>
            <div>
            <a href="{% url 'decrees:update-event' event.pk  %}">Править</a>
        </div>
        <div>
            <a href="{% url 'decrees:show-event' event.pk  %}">Смотреть</a>
        </div>
        
        </td>
        
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            
            <a href="{% my_relative_url 1 'page' request.GET.urlencode %}">first</a>
            <a href="{% my_relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>

            {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% my_relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last</a>

        {% endif %}
    </span>
</div>



    <script>
        new TomSelect("#select-beast-empty",{
	allowEmptyOption: true,
	create: true
            });

</script>
<script>
    new TomSelect("#input-tags",{
	persist: false,
	createOnBlur: true,
	create: true
});
</script>
</div>

{% endblock %}